.infoTableHeader {
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important;
}

.infoTableCell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.infoTableNameCell {
  max-width: 120px;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}