
body {

	font-family: Lato,"Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
	font-weight:300;
	/*font-size:14px;
	line-height:1.5em;*/

	color:#666;

  background: #F5F2F0 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAACHUlEQVQ4T1XUCW5bMQwEUMn7cv8btmnqxLGT1vui4AkY4EeA8BeRwyGHVN38+d3G43GxW2tlMpmU2+1Wns9nWSwW5Xg8ltFoVB6PR7FWq1V/v1wuZTqdltls1r/v93v3qW+vLy1G1+u1gzLMYhgnjvZ6vS6Hw6HUWrv9fD7v7+fzudTPj/eG0XK57GzCCojNUUBngDgBAczndDr1ZzKsUpamH2EACDPgngCkLTA2QNjLRABPDPs+fO2b6Fg4BAbAO+dhPdVIWRCwwkpQAe263bw2yD7ChKOoDLEG4Okc6wTzz3vE6gx375sWhTgC4ugQOyuMvLNlk/SjtjLIrn7ttl2U1ISBVKXGEVuLje+0SECdC4hEb5v/n7sG3QdQikVJQAHkpCypl7P0J3AYylH/vvxqXoYNnTZK6tgKZqUTiJgSCGr3ftxv37ooqQkj32mXGEZ5QMoS4aJ6MuwqY+iHFBgDV2DGomKvwaUWgdIBAgjGtquc0UsPpiUAAx32oToBTHAEYhO1e8qZW3XS5EN1h+OFReo4nJxhRn30oqzotnQsABikPhFEwPRr1I5P/bf/6KOXuY2a6UdMpJoejBjqlbbiw74LShSFV3SgDqWAqUC5NHIGMO2k3rLzD/s+KQAZOJBiqOfSjVPEyiWQWvNxraU7+qRgl5+ZDE8tkbFMegDCVpAMxI/bRsqYOcwtDAjzlCA3cxpZTaN67k4kvgH79HB6cJuWywAAAABJRU5ErkJggg==');
  background-size: 10px 10px;
}

a, a:link, a:visited {
	color: #128BC2;
	text-decoration: none;
}
a:active, a:hover {
	color: #096992;
}

header {
  padding: 10px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(100,80,50,0.35)), color-stop(100%, rgba(0,0,0,0)));
	background:-webkit-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
	background:   -moz-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
	background:    -ms-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
	background:     -o-linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
	background:        linear-gradient(top, rgba(100,80,50,0.35) 0%, rgba(0,0,0,0) 100%);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.brand {
	font-family: Philosopher;
	font-weight: 700;
	/*font-size: 24px;*/
}
.brand .logo-icon {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	background: url(../assets/img/twocolormapicon_whiteboarder.svg) no-repeat;
	background-size: 100%;
	/*-webkit-filter: drop-shadow(1px 1px 0px white);*/
}
.brand-infomap {
  color: #555;
}
.brand-bioregions {
  color: #B22222;
}

#app {
  margin: 2em 0;
}

.documentation {
  text-shadow: rgba(255, 255, 255, 0.746094) 0 1px 0;
}

.documentation .ui.header {
  font-weight:300;
  color:#128BC2;
}

.documentation .row {
  margin: 10px 0;
}

.documentation .image {
  margin: 20px 0;
}


footer {
  padding-top: 4em;
}
