#deckgl-wrapper {
  box-sizing: border-box;
  position: relative !important;
  top: unset !important;
  left: unset !important;
}

main.ui.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 40rem;
}